{% extends "layout.html" %} {% block body %}
<div id="main-body" class="main-body">
  <div
    id="edit-form"
    class="form-container contact-wrap w-100 p-md-5 p-4 shadow-lg mb-4"
  >
    <h3 class="mb-4">Admin Email</h3>
    <!-- Form for email entry -->
    <form action="{{ url_for('email') }}" method="post">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input
              class="form-control"
              id="username"
              name="username"
              placeholder="Username"
              type="text"
              required
            />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter your email"
              type="email"
              required
            />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button
              id="submit-btn"
              class="btn btn-secondary ld-ext-right"
              type="submit"
            >
              Submit
              <div class="ld ld-ring ld-spin" style="font-size: 1.2rem"></div>
            </button>
            <button
              id="delete-btn"
              class="delete btn btn-secondary ld-ext-right delete"
            >
              <a id="delete" href="/delete_admin_email?email={{ user[1] }}"
                >Delete <i class="fa-solid fa-trash"></i
              ></a>
              <div class="ld ld-ring ld-spin" style="font-size: 1.2rem"></div>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
