{% extends "layout.html" %} {% block body %}
<div id="main-body" class="main-body">
  <div class="form-container contact-wrap w-100 p-md-5 p-4 shadow-lg mb-4">
    <h3 class="mb-4">Record birthday &#127874;</h3>
    <div id="form-message-warning" class="mb-4" hidden></div>
    <form action="/index" method="post">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input
              autocomplete="off"
              autofocus
              class="form-control"
              id="name"
              name="name"
              placeholder="Full Name"
              type="text"
              pattern="[A-Za-z]+(?: [A-Za-z]+){1,}"
              title="Provide both first and last name"
              required
            />
            <div id="error-message" class="error"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input
              class="form-control"
              id="birthday"
              name="birthday"
              placeholder="MM-DD"
              maxlength="10"
              type="date"
              pattern="\d{4}-\d{2}-\d{2}"
              title="Provide birthday in the given pattern"
              required
            />
            <div id="error-message" class="error"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <select class="form-control" name="part" id="part">
              <option value="soprano" selected>Soprano</option>
              <option value="alto">Alto</option>
              <option value="tenor">Tenor</option>
              <option value="bass">Bass</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input
              class="form-control"
              id="phone_number"
              name="phone_number"
              placeholder="Phone Number"
              minlength="11"
              type="text"
              required
            />
            <div id="error-message" class="error"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
              type="email"
              required
            />
            <div id="error-message" class="error"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input
              class="form-control"
              id="school_address"
              name="school_address"
              placeholder="Location"
              type="text"
              title="Location in school"
              required
            />
            <div id="error-message" class="error"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button
              id="submit-btn"
              class="btn btn-secondary ld-ext-right"
              type="submit"
            >
              Submit
              <div class="ld ld-ring ld-spin" style="font-size: 1.2rem"></div>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
