{% extends "layout.html" %} {% block body %}
<div id="main-body" class="main-body">
  <div
    id="edit-form"
    class="form-container contact-wrap w-100 p-md-5 p-4 shadow-lg mb-4"
  >
    <h3 class="mb-4">Delete email</h3>
    <!-- Form for email entry -->
    <form action="/remove" method="post">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter email to delete"
              type="email"
              required
            />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button
              id="delete-btn"
              type="submit"
              class="btn btn-secondary ld-ext-right"
            >
              Delete <i class="fa-solid fa-trash"></i>
              <div class="ld ld-ring ld-spin" style="font-size: 1.2rem"></div>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="static/js/email.js"></script>
</div>
{% endblock %}
